VITE_SUPABASE_URL=https://bspntiubfypzbcblmoey.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzcG50aXViZnlwemJjYmxtb2V5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0MTUyNDksImV4cCI6MjA5Njk5MTI0OX0.RtKQJYBft0LeeEGAb_9jUDLJqSzTvGOGPtQxsSQjOR8
GEMINI_API_KEY=your_gemini_api_key
VITE_RAZORPAY_KEY=rzp_test_T1TvGeupoBpBxZ
RAZORPAY_SECRET=P4tJqKb51Y5QlVPcqyShCkpD
